In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
import openpyxl
import pymysql
import pymysql.cursors

In [19]:
data = './Data/지역별_총사업자수.xlsx'

Business_df = pd.read_excel(data)

In [20]:
Business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      19 non-null     object
 1   2014    19 non-null     object
 2   2014.1  19 non-null     object
 3   2014.2  19 non-null     object
 4   2015    19 non-null     object
 5   2015.1  19 non-null     object
 6   2015.2  19 non-null     object
 7   2016    19 non-null     object
 8   2016.1  19 non-null     object
 9   2016.2  19 non-null     object
 10  2017    19 non-null     object
 11  2017.1  19 non-null     object
 12  2017.2  19 non-null     object
 13  2018    19 non-null     object
 14  2018.1  19 non-null     object
 15  2018.2  19 non-null     object
 16  2019    19 non-null     object
 17  2019.1  19 non-null     object
 18  2019.2  19 non-null     object
 19  2020    19 non-null     object
 20  2020.1  19 non-null     object
 21  2020.2  19 non-null     object
 22  2021    19 non-null     object
 23  2021.1  19 non-null     object
 24  2021.2  19 non-null     object
 25  2022    19 non-null     object
 26  2022.1  19 non-null     object
 27  2022.2  19 non-null     object
 28  2023    19 non-null     object
 29  2023.1  19 non-null     object
 30  2023.2  19 non-null     object
dtypes: object(31)
memory usage: 4.7+ KB

In [21]:
Business_df

,년도,2014,2014.1,2014.2,2015,2015.1,2015.2,2016,2016.1,2016.2,...,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2,2023,2023.1,2023.2
0,시도․업태별,총계,신규,폐업,총계,신규,폐업,총계,신규,폐업,...,폐업,총계,신규,폐업,총계,신규,폐업,총계,신규,폐업
1,소계,6348919,1127246,815624,6702456,1191009,790050,6886938,1226443,909202,...,895379,9206659,1457425,885173,9677375,1351702,867292,9950368,1275569,986487
2,서울,1481289,244805,177913,1545885,252462,172078,1557426,249732,200304,...,183386,1973679,284710,182238,2041642,255751,174257,2071814,237918,193591
3,인천,325231,60281,44863,342928,64776,45074,355102,70518,52110,...,56574,517140,99123,54507,550511,86902,54247,568522,80939,63651
4,경기,1516008,279232,202056,1617283,307818,199444,1695675,330057,227624,...,244933,2500190,452524,249567,2668358,409208,244569,2772936,381159,280125
5,강원,191072,30675,22601,200066,32536,21867,205922,35552,25626,...,23966,271461,39255,23727,287179,39774,24293,296615,36843,27186
6,대전,175746,32775,25191,182716,31973,23354,184530,32052,26063,...,24312,232979,36388,23278,243407,34515,23255,249686,33789,26637
7,충북,187079,34071,24538,198101,34786,22454,202612,35465,27161,...,25489,263823,40583,25382,278343,39361,24929,287202,37744,28734
8,충남,245273,43983,30471,260405,47037,29925,268310,47614,34490,...,35254,362822,58848,34618,387865,59172,34211,402311,53612,39168
9,세종,21014,7250,3398,27519,9513,3039,33291,9846,3939,...,5211,59861,9770,5647,64081,9250,5244,66474,8547,6118
10,광주,166286,33156,24680,175168,33400,23029,177475,32734,26054,...,24639,229913,36303,24079,240098,33889,23101,245634,32314,26064
11,전북,212068,38562,26910,222670,38264,26090,226243,37984,29235,...,30419,302792,42962,28371,317319,42255,27323,330228,44438,31029
12,전남,218890,37539,25084,230200,37484,24673,236364,38556,28585,...,29240,313872,42751,26805,328546,41112,26355,339454,41653,30595
13,대구,286322,50070,37365,300623,51751,34877,305950,51383,39186,...,36386,375574,54455,36194,390608,50885,34759,402903,49682,40537
14,경북,310992,53090,38556,327779,55533,36915,333359,56471,43760,...,38533,420064,58046,37129,440323,57764,37298,450389,57148,42829
15,부산,415001,71508,54849,434797,74458,52414,443785,74899,57878,...,54826,556589,85100,55691,577255,76465,54594,586374,70460,60075
16,울산,120671,22927,16835,127494,24307,16497,130767,25260,19265,...,17254,158157,22691,16841,164788,23353,16527,167679,21558,18379
17,경남,390494,69417,50933,413253,74674,48890,425492,76301,56239,...,51971,520128,72988,49126,541555,72077,50252,552705,68379,56602
18,제주,85483,17905,9381,95569,20237,9430,104635,22019,11683,...,12986,147615,20928,11973,155497,19969,12078,159442,19386,15167

In [22]:
Business_df = Business_df.T

Business_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
년도,시도․업태별,소계,서울,인천,경기,강원,대전,충북,충남,세종,광주,전북,전남,대구,경북,부산,울산,경남,제주
2014,총계,6348919,1481289,325231,1516008,191072,175746,187079,245273,21014,166286,212068,218890,286322,310992,415001,120671,390494,85483
2014.1,신규,1127246,244805,60281,279232,30675,32775,34071,43983,7250,33156,38562,37539,50070,53090,71508,22927,69417,17905
2014.2,폐업,815624,177913,44863,202056,22601,25191,24538,30471,3398,24680,26910,25084,37365,38556,54849,16835,50933,9381
2015,총계,6702456,1545885,342928,1617283,200066,182716,198101,260405,27519,175168,222670,230200,300623,327779,434797,127494,413253,95569
2015.1,신규,1191009,252462,64776,307818,32536,31973,34786,47037,9513,33400,38264,37484,51751,55533,74458,24307,74674,20237
2015.2,폐업,790050,172078,45074,199444,21867,23354,22454,29925,3039,23029,26090,24673,34877,36915,52414,16497,48890,9430
2016,총계,6886938,1557426,355102,1695675,205922,184530,202612,268310,33291,177475,226243,236364,305950,333359,443785,130767,425492,104635
2016.1,신규,1226443,249732,70518,330057,35552,32052,35465,47614,9846,32734,37984,38556,51383,56471,74899,25260,76301,22019
2016.2,폐업,909202,200304,52110,227624,25626,26063,27161,34490,3939,26054,29235,28585,39186,43760,57878,19265,56239,11683
2017,총계,7226329,1601469,379301,1814719,216103,190144,211029,282687,39683,184033,241237,249792,316520,347197,460578,135792,441912,114133
2017.1,신규,1284589,256827,77091,352316,36349,32597,35492,51071,10679,34037,46041,43553,51258,58109,76903,25264,74848,22154
2017.2,폐업,908076,196509,51309,231416,25299,25557,26370,35328,4479,26268,29420,28931,38452,42669,57505,19461,56788,12315
2018,총계,7673637,1696443,408291,1966143,226824,197689,221580,299466,45164,194566,259554,266571,328815,362353,479542,140086,457827,122723
2018.1,신규,1372895,295806,80699,386993,37140,33585,36721,52743,10087,36367,49285,46501,52240,58404,77209,23522,72957,22636
2018.2,폐업,900551,186793,50768,236810,25980,24793,25883,35328,4890,25092,30238,28982,38241,42425,56180,18758,55929,13461
2019,총계,8046119,1764508,431526,2093499,237534,205994,232560,314566,49706,204232,272077,279787,339937,377583,496345,144295,472383,129587
2019.1,신규,1316360,269837,81238,369661,36296,34352,37799,52298,9219,35774,45004,43914,52662,57459,75887,23360,71085,20515
2019.2,폐업,922159,188415,56815,244469,25161,24998,26584,36625,4903,25331,31844,30110,39820,41736,57654,18612,55721,13361
2020,총계,8651833,1884980,472614,2294938,255813,220787,248729,338765,55623,218647,288754,297802,358635,399120,528612,152736,496596,138682
2020.1,신규,1519284,316610,98820,443069,42399,40218,41886,59719,10925,39888,47734,47405,56806,60297,88455,26008,76872,22173
2020.2,폐업,895379,183386,56574,244933,23966,24312,25489,35254,5211,24639,30419,29240,36386,38533,54826,17254,51971,12986
2021,총계,9206659,1973679,517140,2500190,271461,232979,263823,362822,59861,229913,302792,313872,375574,420064,556589,158157,520128,147615
2021.1,신규,1457425,284710,99123,452524,39255,36388,40583,58848,9770,36303,42962,42751,54455,58046,85100,22691,72988,20928
2021.2,폐업,885173,182238,54507,249567,23727,23278,25382,34618,5647,24079,28371,26805,36194,37129,55691,16841,49126,11973
2022,총계,9677375,2041642,550511,2668358,287179,243407,278343,387865,64081,240098,317319,328546,390608,440323,577255,164788,541555,155497
2022.1,신규,1351702,255751,86902,409208,39774,34515,39361,59172,9250,33889,42255,41112,50885,57764,76465,23353,72077,19969
2022.2,폐업,867292,174257,54247,244569,24293,23255,24929,34211,5244,23101,27323,26355,34759,37298,54594,16527,50252,12078
2023,총계,9950368,2071814,568522,2772936,296615,249686,287202,402311,66474,245634,330228,339454,402903,450389,586374,167679,552705,159442
2023.1,신규,1275569,237918,80939,381159,36843,33789,37744,53612,8547,32314,44438,41653,49682,57148,70460,21558,68379,19386
2023.2,폐업,986487,193591,63651,280125,27186,26637,28734,39168,6118,26064,31029,30595,40537,42829,60075,18379,56602,15167

In [ ]:
Business_df

RangeIndex(start=0, stop=19, step=1)